* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;


}

::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #6ac3f0);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #07d8eb;
}

.header-container {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 9999;
    background: linear-gradient(to right, #6ac3f059, #46b7f0);
    backdrop-filter: blur(100px);

}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 0.8vw;

}

.nav-super-container {
    flex-grow: 1;
}

.nav-container {
    display: flex;
    align-items: center;

}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;

}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

nav {
    display: flex;
    gap: 0.8rem;
    margin-inline: auto;

}

.header h1 {
    font-size: 1.7rem;
    font-weight: 700;
    cursor: pointer;
    padding-block: 1.1vw;
    font-family: "Caveat",
        cursive;
}

nav>a {
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
    padding-block: 1.1vw;
}



.Resume>a {
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
    padding-block: 0.6vw;
    padding-inline: 0.6vw;
    background-color: tomato;
    border-radius: 0.5vw;
}

.hamburger,
.close {
    display: none;
}

/* landing */
.landing-container {
    margin-top: 6.5vw;
    max-width: 1440px;
    margin-inline: auto;
    display: flex;
    position: relative;

}

.landing-content {
    width: 65%;
    padding: 2vw;
}

.landing-content>span {
    font-size: 3rem;
    font-family: "Caveat", cursive;
}

.landing-content>p {
    font-size: 2rem;
}

.landing-content>h1>span {
    font-size: 4.5rem;
    font-family: "Caveat", cursive;
    color: #6ac3f0;
}

.button-talk {
    display: flex;
    border-radius: 10px;
    align-items: center;
    margin-top: 1vw;
}

.button-talk>button {
    display: flex;
    gap: 10px;
    padding: 0.8vw;
    background: linear-gradient(#6ac3f059, #46b7f0);
    border-radius: 10px;
    align-items: center;
}

.landing-gif {
    width: 35%;
    padding: 2vw;
}

.landing-gif>img {
    width: 100%;
}

.contact {
    position: absolute;
    z-index: 999;
    padding: 1vw 0 1vw 1vw;
    right: 0;
    top: 15vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 15px;

}

.contact>a>img {
    width: 40px;
    height: 40px;

}

.contact>a:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.2ms ease-in-out;
}

/* projects */
.project {
    max-width: 1440px;
    margin-inline: auto;
    padding: 4vw;

}

.project>h2 {
    font-size: 5rem;
    font-family: "Caveat", cursive;

}

.p-1 {
    display: flex;
    gap: 5rem;
    margin-bottom: 2.5rem;
    padding: 0.8rem;
    border: 0.5px solid rgb(156 163 175 / var(--tw-border-opacity, 1));
    border-radius: 8px;
}

.p-1:hover {
    transform: scale(1.05);
    transition: all 0.4s ease-in-out;
    box-shadow: 4px 4px 0px #000000df;
}

.p-1-img {
    width: 50%;
    background-color: rgb(255 219 0 / 45%);
    padding-block: 0.2vw;
    padding-inline: 1vw;
    border-radius: 15px;
    overflow: hidden;
    padding-bottom: 0;
    max-height: 18rem;
}

.p-1-img>img {
    position: relative;
    top: 2.6vw;
    width: 100%;
    transform: rotate(4deg);

}

.p-1-img>img:hover {

    transform: rotate(4deg) scale(1.06);
    transition: all 0.2s ease;
}

.p-1-content {
    width: 50%;
}

.p-1-content h3::before {
    content: "->";
    margin-right: 5px;
    color: royalblue
}

.p-1-content h3 {
    font-size: 2rem;
    font-weight: 700;
}

.p-1-content>p {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 1rem;
}

.p-1-content>span::before {
    content: "*";
    margin-right: 2px;
    color: red;
}

.p-1-content>span {
    font-size: 1.3rem;
    font-weight: 700;
}

.p-1-content>a {
    padding: 0.6vw;
    font-size: 1.2rem;
    font-weight: 700;
    background: linear-gradient(#6ac3f059, #46b7f0);
    border-radius: 14px;

}

.p-1-content>a::after {
    content: "->";
    margin-left: 4px;
}

.git {
    position: relative;
}

.git>a>img {
    width: 50px;
    height: 50px;
}


.showGit {
    position: absolute;
    top: 14%;
    left: 85px;
    opacity: 1;
    padding: 0.7rem;
    font-size: 1rem;
    font-weight: 500;
    background-color: #6ac3f0;
    border-radius: 14px;
    transition: all 0.7ms ease-in-out;
    font-weight: 600;
}

.showGit::before {
    content: "<-";
    font-weight: 900;
    margin-right: 3px;

}

.hideGit {
    opacity: 0;
    top: 40%;
    position: absolute;
}

.toolkit {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 10;
    padding: 3vw;
    padding-inline: 0;
    padding-bottom: 1.5vw;

}

.tech-name {

    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.p-1-ts {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;


}

.tech-name>img {

    width: 50px;
    height: 50px;
    border: 0.5px solid rgb(156 163 175 / var(--tw-border-opacity, 1));
    border-radius: 8px;
    padding: 6px;
    border-radius: 8px;
    cursor: pointer;
}

.tech-n {
    background-color: rgba(90, 86, 86, 0.377);
    padding: 3px;
    border-radius: 6px;
    position: absolute;
    opacity: 0;
}

.show-n {
    opacity: 1;
    top: -35px;
    background-color: rgba(90, 86, 86, 0.377);
    padding: 4px;
    border-radius: 6px;
    position: absolute;
    font-weight: 700;
    text-align: center;
}

.go-project {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
}

.go-project>a {
    font-size: 1.3rem;
    font-weight: 700;
    padding: 0.7rem;
    background: linear-gradient(#6ac3f059, #46b7f0);
    border-radius: 14px;
}

.go-project-link:hover {
    transform: scale(1.1);
    transition: all 0.4s ease-in-out;

}

/* skill */
.skill-tools-container {
    max-width: 1440px;
    margin-inline: auto;
    padding: 4vw;

}

.skill-tools-container>h2 {
    font-size: 5rem;
    font-family: "Caveat", cursive;
    margin-bottom: 1rem;
}

.skill-container {
    display: flex;
    gap: 2vw;
}

.skill-detail {
    width: 60%;
}

.skill-detail>h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1vw;
    color: #6ac3f0;
}

.skill-detail>p {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 1vw;
}

.skill-button-container {
    padding: 0.6vw;
    display: flex;
    gap: 10px;
    outline-color: #6ac3f0;
}

.skill-button-box {
    display: inline-block;
}

.skill-button {
    padding: 0.6vw;
    background: linear-gradient(#6ac3f059, #46b7f0);
    border-radius: 14px;
    font-size: 1.2rem;
    font-weight: 600;
    margin-right: 10px;
}

.tool-button {
    padding: 0.6vw;
    background: linear-gradient(#6ac3f059, #46b7f0);
    border-radius: 14px;
    font-size: 1.2rem;
    font-weight: 600;
}

.skill-img {
    width: 30%;
    padding: 2vw;
    padding-block: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    align-items: center;
}

.skill-img>div {
    width: 70%;
    background-color: ivory;
    padding: 0.3vw;

    /* height: 60px; */
}

.skill-img>div>img {
    width: 100%;

}

/* about */
.about-container {
    max-width: 1440px;
    margin-inline: auto;
    padding: 4vw;
}

.about-container>h2 {
    font-size: 5rem;
    font-family: "Caveat", cursive;
}

.about-subContainer {
    display: flex;
    gap: 20px;
}

.profile-link {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 1rem;

}

.profile-link>a {
    font-weight: 600;
}

.profile-img {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-img>img {
    width: 60%;
    border-radius: 117px;
}

.profile-detail {
    width: 60%;
}

.profile-detail>h3 {
    font-size: 2.4rem;
    font-weight: 600;
}

.profile-detail>h3>span {
    font-size: 4.7rem;
    border-radius: 50%;
    color: #6ac3f0;
}

.profile-detail>p {
    font-size: 1.2rem;
    font-weight: 500;
}

.profile-resume {
    display: flex;
    align-items: center;
    background-color: tomato;
    padding: 0.7rem;
    border-radius: 15px;
}

.profile-experience {
    margin-top: 1rem;
    padding: 2vw;
}

.profile-experience>h3 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;

}

.exp {
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 8px;
    border: 0.5px solid rgb(156 163 175 / var(--tw-border-opacity, 1));

}

.exp:hover {
    transform: scale(1.05);
    transition: all 0.4s ease-in-out;
    box-shadow: 4px 4px 0px #000000df;
}

.exp>img {
    align-self: flex-start;
}

.exp-details {
    padding: 6vw;
    padding-block: 0;
}

.exp-2 {
    margin-top: 4rem;
}

.exp-details>p {
    font-size: 1.2rem;
    font-weight: 500;
}

.exp-details-company {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.exp-details-company>span {
    font-size: 1.5rem;
    font-weight: 600;
}

.go-about {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    margin-top: 4rem;
}

.go-about>a {
    font-size: 1.3rem;
    font-weight: 700;
    padding: 0.7rem;
    background: linear-gradient(#6ac3f059, #46b7f0);
    border-radius: 14px;
}

.go-about>a:hover {
    transform: scale(1.1);
    transition: all 0.4s ease-in-out;
}

/* aboutContact */
.AboutContact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#6ac3f059, #46b7f0);
    padding: 2.5rem;
    border-radius: 20px;
}


.AboutContact>span {
    font-size: 1.5rem;
    font-weight: 600;

}


.AboutContact>button {
    background-color: tomato;
    padding: 1.5rem;
    border-radius: 16px;
    cursor: pointer;
}


.AboutContact>button>span {
    font-weight: 700;
}


.email-copy {
    padding: 1rem;
    display: flex;
    gap: 1rem;

}


.email-text {
    font-size: 4rem;
    font-weight: 800;
}


.contact-links {
    display: flex;
    gap: 3rem;
    padding: 1rem;
    padding-bottom: 1.5rem;
}

/* footer */
.footer {
    max-width: 1440px;
    margin-inline: auto;
    padding: 4vw;
    padding-block: 1vw;
    justify-content: space-between;
    align-items: center;
}

.footer>div {
    font-size: 1rem;
    font-weight: 600;
    padding: 1vw;
}

.available {
    display: flex;
    gap: 4px;
    align-items: center;
}


.available>span {
    display: inline-block;
    background-color: green;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

/* View */
.view {
    display: flex;
    border: 1.5px solid rgba(126, 124, 124, 0.505);
    max-width: 4rem;
    min-width: 3.5rem;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
}

.view>img {
    width: 16px;
    height: 16px;
}

@media (max-width: 1024px) {
    .header-container {

        padding-block: 0.1vw;
        padding-inline: 2.6vw;
        background: linear-gradient(to right, #6ac3f059, #46b7f0);
    }

    .header {
        position: relative;
    }



    .nav-container {
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: 100;
        background-color: white;
        color: black;
        top: 0;
        left: 0;
        align-items: unset;
        flex-grow: unset;
        padding: 9vw;

    }

    .nav {
        flex-direction: column;
        align-items: unset;
        justify-content: unset;
        gap: 28px;
    }

    nav {
        flex-direction: column;
        margin-inline: unset
    }

    nav>a {
        font-size: 5vw;
    }

    .Resume>a {
        font-size: 4.5vw;
        padding: 1.4vw;
        text-align: center;
        border-radius: 10px
    }

    .hamburger,
    .close {
        display: block;
        font-size: 8vw;
        font-weight: 900;
    }

    .close {
        /* color: white; */
        font-size: xx-large;
    }

    .on {
        display: block;
    }

    .off {
        display: none;
    }

    /* landing */
    .landing-container {

        flex-direction: column;
        min-height: unset;
        margin-top: 10vh;
        padding: 4vw;
        padding-top: 0;
    }

    .landing-gif {
        padding-top: 0;
        width: unset;
    }

    .landing-content {
        width: unset;
        padding-bottom: 0;
    }

    .landing-content>span {
        font-size: 9vw;
    }

    .landing-content>h1>span {
        font-size: 12vw;
    }

    .landing-content>p {
        font-size: 5.5vw;
    }

    .button-talk {
        margin-top: 8vw;
    }

    .button-talk>button {
        padding: 3vw;
    }

    /* contact */
    .contact {
        right: 0;
        top: 85vw;
    }

    .contact>a>img {
        width: 40px;
        height: 40px;
    }

    /* project */
    .project {
        overflow: hidden;
        margin-top: 3rem;
        padding: 1.5rem;
    }

    .p-1 {
        flex-direction: column;
        gap: 1rem;

    }

    .p-1-img {
        width: 100%;
        max-height: unset;
    }

    .p-1-img>img {
        top: 5vw
    }

    .p-1-content {
        width: 100%;
        margin-bottom: 1.5rem;
    }

    .p-1-content h3 {
        font-size: 2rem;
        margin-top: 1rem;
    }

    .p-1-content>p {
        font-size: 1.4rem;
    }

    .p-1-content>span {
        font-size: 1.7rem;
    }

    .p-1-content>a {
        margin-top: 1rem;
        font-size: 3vw;
        padding: 2vw;

    }

    .toolkit {
        margin-bottom: 1rem;
    }

    /* skill */
    .skill-tools-container {
        margin-top: -1rem;
        padding: 4vw;
    }

    .skill-tools-container>h2 {
        font-size: 14vw;
        margin-bottom: 1rem;
        margin-top: 4rem;

    }

    .skill-container {
        flex-direction: column;
    }

    .skill-detail {
        width: 100%;
    }

    .skill-detail>h2 {
        font-size: 3vmax;
    }

    .skill-detail>p {
        font-size: 1.4rem;
    }

    .skill-button-container {
        justify-content: center;
        margin-block: 1rem;
    }

    .skill-button,
    .tool-button {
        padding: 1vw;
        font-size: 2vmax;

    }

    .skill-img {
        margin-inline: auto;
        width: 60%;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;

    }

    .skill-img>div {
        width: 45%;
    }


    /* about */
    .about-container {
        margin-top: 3rem;
        padding: 4vw;
    }

    .about-container>h2 {
        font-size: 14vw;
        margin-bottom: 1rem;
    }

    .about-subContainer {
        flex-direction: column;
    }

    .profile-img,
    .profile-detail {
        width: unset;
    }

    .profile-detail>h3 {
        font-size: 2rem;
    }

    .profile-detail>h3>span {
        font-size: 10vw;
    }

    .profile-detail>p {
        font-size: 1.4rem;
    }

    .profile-link {
        align-items: center;
        justify-content: center;
    }


    .profile-experience>h3 {
        font-size: 2rem;
    }


    .exp {
        flex-direction: column;
    }

    .exp-details-company>span {
        font-size: 0.9rem;
    }

    .exp-details>p {
        font-size: 1rem;
    }

    .AboutContact {
        padding: 1rem
    }

    .AboutContact>span {
        font-size: 1rem;
        text-align: center;
    }

    .AboutContact>a {
        font-size: 0.9rem;
        padding: 1rem;
    }

    .email-text {
        font-size: 1.2rem;
    }

    .contact-links {
        gap: 0.5rem;
        flex-direction: column;

    }

    .linkss {
        gap: 0.5rem;
        padding: 0;
        font-size: 1rem;
    }

    /* footer */
    .footer {
        flex-direction: column-reverse;
    }

    .footer>div {
        font-size: 0.8rem;
    }




}

@media (max-width: 600px) {
    .header-container {
        padding-block: 2vw;
        padding-inline: 2.6vw;
        background: linear-gradient(to right, #6ac3f059, #46b7f0);
    }

    .header {
        position: relative;
    }

    .header h1 {
        font-size: 6vw;
    }

    .nav-container {
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: 100;
        background-color: white;
        color: black;
        top: 0;
        left: 0;
        align-items: unset;
        flex-grow: unset;
        padding: 9vw;

    }



    .nav {
        flex-direction: column;
        align-items: unset;
        justify-content: unset;
        gap: 28px;
    }

    nav {
        flex-direction: column;
        margin-inline: unset
    }

    nav>a {
        font-size: 6vw;
    }

    .Resume>a {
        font-size: 6vw;
        padding: 1.4vw;
        text-align: center;
        border-radius: 10px
    }

    .hamburger,
    .close {
        display: block;
        font-size: 8vw;
        font-weight: 900;
    }

    .close {
        /* color: white; */
        font-size: xx-large;
    }

    .on {
        display: block;
    }

    .off {
        display: none;
    }

    /* landing */
    .landing-container {
        flex-direction: column;
        min-height: unset;
        margin-top: 10vh;
        padding: 4vw;
        padding-top: 0;
    }

    .landing-gif {
        padding-top: 0;
        width: unset;
    }

    .landing-content {
        width: unset;
        padding-bottom: 0;
    }

    .landing-content>span {
        font-size: 9vw;
    }

    .landing-content>h1>span {
        font-size: 12vw;
    }

    .landing-content>p {
        font-size: 5.5vw;
    }

    .button-talk {
        margin-top: 8vw;
    }

    .button-talk>button {
        padding: 3vw;
    }

    /* contact */
    .contact {


        right: 0;
        top: 85vw;


    }

    .contact>a>img {
        width: 30px;
        height: 30px;
    }

    /* project */
    .project {
        margin-top: 3rem;
        padding: 1.5rem;
    }

    .p-1 {
        flex-direction: column;
        gap: 1rem;
    }

    .p-1-img {
        width: 100%;
        max-height: unset;
    }

    .p-1-img>img {
        top: 5vw
    }

    .p-1-content {
        width: 100%;
        margin-bottom: 1.5rem;
    }

    .p-1-content h3 {
        font-size: 6vw;
        margin-top: 1rem;
    }

    .p-1-content>p {
        font-size: 4.2vw
    }

    .p-1-content>span {
        font-size: 5vw;
    }

    .p-1-content>a {
        margin-top: 1rem;
        font-size: 5vw;
        padding: 3vw;

    }

    .toolkit {
        margin-bottom: 1rem;
    }

    .tech-name>img {
        width: 40px;
        height: 40px;
    }

    .project>h2 {
        font-size: 14vw;
        margin-bottom: 1rem;
    }

    .go-project>a {
        font-size: 0.7rem;
    }

    /* skill */
    .skill-tools-container {
        margin-top: -1rem;
        padding: 4vw;
    }

    .skill-tools-container>h2 {
        font-size: 14vw;
        margin-bottom: 1rem;

    }

    .skill-container {
        flex-direction: column;
    }

    .skill-detail {
        width: 100%;
    }

    .skill-detail>h2 {
        font-size: 3vmax;
    }

    .skill-detail>p {
        font-size: 2vmax;
    }

    .skill-button-container {
        justify-content: center;
        margin-block: 1rem;
    }

    .skill-button,
    .tool-button {
        padding: 2vw;
        font-size: 3vmax;

    }

    .skill-img {
        margin-inline: auto;
        width: 70%;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;

    }

    .skill-img>div {
        width: 45%;
    }


    /* about */
    .about-container {
        margin-top: 3rem;
        padding: 4vw;
    }

    .about-container>h2 {
        font-size: 14vw;
        margin-bottom: 1rem;
    }

    .about-subContainer {
        flex-direction: column;
    }

    .profile-img,
    .profile-detail {
        width: unset;
    }

    .profile-detail>h3 {
        font-size: 2rem;
    }

    .profile-detail>h3>span {
        font-size: 10vw;
    }

    .profile-detail>p {
        font-size: 1rem;
    }

    .profile-link {
        align-items: center;
        justify-content: center;
    }

    .go-about>a {
        font-size: 0.7rem;
    }

    .profile-experience>h3 {
        font-size: 2rem;
    }


    .exp {
        flex-direction: column;
    }

    .exp-details-company>span {
        font-size: 0.9rem;
    }

    .exp-details>p {
        font-size: 1rem;
    }

    .AboutContact {
        padding: 1rem
    }

    .AboutContact>span {
        font-size: 0.9rem;
        text-align: center;
    }

    .AboutContact>a {
        font-size: 0.9rem;
        padding: 1rem;
    }

    .email-text {
        font-size: 1.2rem;
    }

    .contact-links {
        gap: 0.5rem;
        flex-direction: column;

    }

    .linkss {
        gap: 0.5rem;
        padding: 0;
        font-size: 1rem;
    }

    /* footer */
    .footer {
        flex-direction: column-reverse;
    }

    .footer>div {
        font-size: 0.8rem;
    }
}